@!
<div id="top-news[ID]">
    <div class="slideshow">
        <div class="figure">

            <img src="[IMAGE]" data-original="[IMAGE]" title="[TITLE]" alt="[TITLE]" />
            <div class="overlay"></div>
            <div class="title">
                <h2>
                    <a href="[LINK]" title="[TITLE]">[TITLE]</a>
                </h2>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="thumbs-wrapper">
            <ul class="thumbs">
                !@
                <%									
                <li class="thumb">
                    <a href="[LINK]">
                        <span class="active-thumb"></span>
                        <span class="thumb-wrapper">
                            <img src="[IMAGE]" data-original="[IMAGE]" alt="[TITLE]" title="[DATE]" data-source="[IMAGESOURCE]">
                        </span>
                        <span class="title">[TITLE]</span>
                    </a>
                </li>
                %>							
            </ul>
            <div class="carousel-pagination"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
