@!
<div id="itemlist">
    <div class="featured">
        <h2><a href="[LINK]" class="hastip" title="[DATE]">[TITLE]</a></h2>
        <div class="image-holder">
            <a href="[LINK]">
                <img src="[IMAGE]" data-original="[IMAGE]" alt="[TITLE]" class="hastip" title="[DATE]" />
            </a>
        </div>
        <div class="introtext">
            [DESCRIPTION]
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- <div class="cols">
         <div class="item odd">
             <h3><a href="#">دولت ایران به هر ایرانی '۷۰ هزار تومان عیدی می‌دهد'</a></h3>
             <div class="image-holder">
                 <a href="#">
                     <img src="" alt="دولت ایران به هر ایرانی '۷۰ هزار تومان عیدی می‌دهد'" />
                 </a>
             </div>
             <div class="introtext">
                 ارسلان فتحی‌پور، رئیس کمیسیون اقتصادی مجلس ایران، امروز ۲۳ بهمن (۱۱ فوریه) خبر داده که دولت ایران برای "جبران گرانی ها و کمک به کاهش مشکلات اقتصادی مردم" به ۷۳ میلیون ایرانی ۷۰ هزار تومان عیدی می‌دهد.

             </div>
         </div>
         <div class="item even">
             <h3><a href="#">دولت ایران به هر ایرانی '۷۰ هزار تومان عیدی می‌دهد'</a></h3>
             <div class="image-holder">
                 <a href="#">
                     <img src="" alt="دولت ایران به هر ایرانی '۷۰ هزار تومان عیدی می‌دهد'" />
                 </a>
             </div>
             <div class="introtext">
                 ارسلان فتحی‌پور، رئیس کمیسیون اقتصادی مجلس ایران، امروز ۲۳ بهمن (۱۱ فوریه) خبر داده که دولت ایران برای "جبران گرانی ها و کمک به کاهش مشکلات اقتصادی مردم" به ۷۳ میلیون ایرانی ۷۰ هزار تومان عیدی می‌دهد.

             </div>
         </div>
         <div class="clearfix"></div>
     </div>-->
    <div class="list">
        <ul id="ulnewspagelist">
            !@
            <%
            <li>
                <div class="image-holder">
                    <a href="[LINK]">
                        <img src="[IMAGE]" data-original="[IMAGE]" class="hastip" alt="[TITLE]" title="[DATE]" />
                    </a>
                </div>
                <h3><a href="[LINK]" class="hastip" title="[DATE]">[TITLE]</a></h3>
                <div class="introtext">
                    [DESCRIPTION]
                </div>
                <div class="clearfix"></div>
            </li>
            %>
        </ul>
        [MOREBTN]
    </div>
</div>
