<div id="item">
 <h2 class="item-title">[TITLE]
							</h2>
                        <div class="item-toolbar">
                            <ul>
                                <li class="item-date">[DATE]</li>
                                <li class="print">
                                    <a href="#" title="Print">
                                        <span class="icon-print"></span>&nbsp;چاپ
										</a>
                                </li>
                                <li class="send">
                                    <a href="#" title="Send Item">
                                        <span class="icon-mail-2"></span>&nbsp;ارسال
										</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item-body">
                         [DESCRIPTION]
                            <br /> <br />
                        <div class="item-gallery">                            
                            <div class="image-holder">
                                   <!-- Controls -->
                                    <div class="figure-controls">
                                        <a href="#prev" id="fig-prev"><span class="icon-left-open-1"></span></a>
                                        <a href="#next" id="fig-next"><span class="icon-right-open-1"></span></a>
                                    </div>
                                    <!-- //Controls -->
                                <!-- First Image of list in large size -->
                                <img src="[IMAGE2]" alt="" />
                                <h3 class="gallery-caption">[TITLE]</h3>
                            </div>
                            <div class="carousel">
                                <div class="carousel-controls">
                                    <a href="#left" id="left"><span class="icon-left-open-1"></span></a>
                                    <a href="#right" id="right"><span class="icon-right-open-1"></span></a>
                                </div>
                                <ul>                                    
                                    <%
                                    <li  [THUMBCLASS] >
                                        <a href="#" data-source="[IMAGE]" title="[TITLE]" class="thumb-holder">
                                          
                                                <img src="[IMAGE]" alt="[TITLE]" />
                                          
                                        </a>
                                    </li> 
                                    %>                                                                      
                                </ul>
                            </div>
                        </div>  
                                                                        
                    </div>
    </div>