@!
<div class="programs box">    
    <section class="box-content">
        <div class="featured">
            <h3>
                <a href="[LINK]" class="hastip" title="[DESC]">
                    <span class="image-holder">
                        <img  src="[IMG]" alt="[DESC]" />
                    </span>
                    <span class="title">[TITLE]</span>                 
                </a>
            </h3>
        </div>
        <ul class="items">
            !@
            <%
            <li>
                <h3>
                    <a href="[LINK]" class="hastip" title="[DESC]">
                        <span class="image-holder">
                            <img  alt="[DESC]" src="[IMG]" />
                        </span>
                        <span class="title">[TITLE]</span>
                    </a>
                </h3>
                <div class="clearfix"></div>
            </li>
            %>
        </ul>
        <div class="clearfix"></div>
    </section>
</div>