<div class="multimedia photos box">
    <section class="box-content">
        <ul class="multimedia-list">
            <%
            <li class="[CLASS]">
                <h3>
                    <a href="[LINK]" class="hastip"  title="[DESC]">
                        <span class="image-holder">
                            <img src="[IMGSRC]" alt="[IMGALT]" />
                            <span class="icon-picture"></span>
                            <span class="gallery-count">[COUNT]</span>
                        </span>
                        <span class="title">[TITLE]</span>
                    </a>
                </h3>
            </li>   
            %>       
        </ul>
        <div class="clearfix"></div>
    </section>
</div>
