@!
<div id="itemlist">  
      <div class="featured">
        <h2><a href="[LINK]" class="hastip" title="[DATE]">[TITLE]</a></h2>
        <div class="image-holder">
            <a href="[LINK]">
                <img src="[IMG]" class="hastip" alt="[TITLE]" title="[DATE]" />
            </a>
        </div>
        <div class="introtext">
          [DESCRIPTION]							
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="list">
        <ul>
             !@
                <%	
            <li>
                <div class="image-holder">
                    <a href="[LINK]">
                        <img  src="[IMG]" class="hastip"  alt="[TITLE]" title="[DATE]" />
                    </a>
                </div>
                <h3><a href="[LINK]" class="hastip" title="[DATE]">[TITLE]</a></h3>
                <div class="introtext">
                  [DESCRIPTION]									
                </div>
                <div class="clearfix"></div>
            </li> 
             %>           
        </ul>
    </div>
    <div id="divPostsLoader"></div>
</div>
