<div id="item">
    <div class="item-comments">
        <header>
            <h2>
                <span class="header-title">نظرات کاربران</span>
            </h2>
        </header>
       <!-- <div class="comment-notice">
            شبکه بازار مسئول نظرات کاربران نیست!
							
        </div>-->
        <ul class="comments">
            <%
        <li>
            <div class="comment-toolbar">
                <span class="icon-comment-alt"></span>
                <span class="comment-name">[NAME]</span>
                <span class="comment-date">[DATETIME]</span>
            </div>
            <div class="clearfix"></div>
            <div class="comment-text">
                [TEXT]
            </div>
        </li>
            %>     
        </ul>
    </div>
</div>
